@tailwind base;
@tailwind components;
@tailwind utilities;
:root{
    --primary-color : #191919;
    --body-color :#FCFCFC;
    --secondary-color : #232323;
}
@font-face{
    src: url("./font/Satoshi-Variable.ttf");
    font-family: "primaryFont";
}
*{
    padding: 0;
    margin: 0;
    text-decoration: none;
    list-style: none;
    box-sizing: border-box;
    font-family: "primaryFont";
}
html,body{
    font-size: 62.5%;
    background-color: var(--body-color);
}
body{
    height: 1000vh;
    overflow: hidden;
}
.primaryBgColor{
    background-color: var(--primary-color);
}
.primaryColor{
    color: var(--primary-color);
}
.secondaryBgColor{
    background-color: var(--secondary-color);
}
.secondaryColor{
    color: var(--secondary-color);
}
nav{
    z-index: 10;
}
.navLink.active{
    color: white;
    position: relative;
}
.navLink.active::before{
    content: '';
    position: absolute;
    width: 100%;
    height: .2rem;
    background-color: white;
    left: 0;
    bottom: -.4rem;

}
